.search-bar{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-content{
    padding-left: 40px;
    padding-right: 40px;
  }

  .cocktails-list{
    width: 100%;
  }

  .cocktail-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }