.list-item{
    height: auto;
    margin-bottom: 12px;
}

.list-title{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px #e0dede;
    margin-bottom: 20px;
    background-color: rgba(211,246,243,0.5);
    font-size: 24px;
    letter-spacing: 2px;
}

.cards {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
   
  }

  /* .card {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
  } */

  img{
    height: 300px;
    cursor: pointer;
  }

  /* .card-image{
    display: flex;
    justify-content: center;
   
  }

  .card-title{
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: rgba(233,233,233,0.5);
    border-radius: 4px;
    font-size: 20px;
    margin-top: 16px;
    letter-spacing: 2px;
  } */

  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
  }