.card {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
  }
  
.card-image{
    display: flex;
    justify-content: center;
  }

  .card-title{
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: rgba(233,233,233,0.5);
    border-radius: 4px;
    font-size: 20px;
    margin-top: 16px;
    letter-spacing: 2px;
  }