
  .main-content{
    padding-left: 40px;
    padding-right: 40px;
  }

  .search-bar{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cocktails-list{
    height: auto;
    margin-bottom: 12px;
  }

  img{
    height: 300px;
  }

  